//Variable overwrites
$font-family-sans-serif:  'Gotham-Web', "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "fonts";

body {
	background-image: url(http://www.transparenttextures.com/patterns/transparent-square-tiles.png);
}

.nav {
	color: white;
	background-color: black;
	background-color: #000000;
	border-bottom: 3px solid #cc0033;
	background-image: url(http://www.transparenttextures.com/patterns/green-fibers.png);
	margin-bottom: 20px;
	.title {
		margin:0;
		font: 300 20px 'Gotham-Web';
		text-transform: uppercase;
		padding: 10px 10px 10px 0;
	}
	.title-icon {
		height: 16px;
	}
}

.quotable-container {
	overflow: hidden;
	color: #333333;
	padding: 10px;
	.quote-sizing-box {
		padding-bottom: 50%;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		background-color: white;
		resize:both;
	}
	.quote {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px;
	}
	.quote-logo {
		width: 30%;
		position: absolute;
		bottom: 6%;
		right: 5%;
	}
	.editable {
		padding: 20px 40px 0 40px;
	}
	.editable-quote {
		font-size: 60px;
		font-weight: 700;
		margin-bottom: 0;
		line-height: normal;
	}
	.editable-attrib {
		font-size: 30px;
		margin: 0;
		line-height: 100%;
	}

}

.settings {
	h4 {
		margin-top: 0;
		font-weight: 400;
	}
	#fontslider {
		width: 100%;
		max-width: 180px;
	}
	.setting {
		margin-bottom: 30px;
	}

	#remove_image {
		margin-top: 5px;
	}
}

.save-area {
	margin-top: 30px;
}